* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00a5d3;
}

.container-slider {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.slider {
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    width: 100%;
    /* height: 750px; */
    /* border-radius: 10px;
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-top: 20px solid white;
    border-bottom: 60px solid white; */
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
}

.on {
    opacity: 1;
}

.winner {
    width: 50px;
    height: 50px;
}

#prev-button,
#next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img,
#next-button img {
    width: 100%;
    height: 100%;
}

#prev-button {
    transform: rotate(180deg);
}